body {
    background-image: url(town.jpg);
    height: 100px;
}

h1 {
    color: rgb(255, 0, 0);
    font-size: 80px;
    margin: 0px;
    text-align: center;
    font-family: 'Kolker Brush', cursive;
}

.pooky {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: 0px
}

.pooky:hover {
    cursor: pointer;
}

#hehe {
    height: 300px;
    width: 500px;
    background-color: whitesmoke;
    object-fit: cover;
    filter: blur(50px);
    border-radius: 100px;
    font-family: 'Kolker Brush', cursive;
    transition: 1s;
}

#hehe:hover {
    filter: blur(0px);
    background: transparent;

}


#nihao {
    height: 300px;
    width: 500px;
    background-color: white;
    border-radius: 100px;
    filter: blur(50px);
    font-family: 'Kolker Brush', cursive;
    transition: 1s;

}

#nihao:hover {
    filter: blur(0px);
    background: transparent;
}


#scary {
    height: 300px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    filter: blur(50px);
    font-family: 'Kolker Brush', cursive;
    transition: 1s;
}

#scary:hover {
    filter: blur(0px);
    background: transparent;
}

h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
    color: rgb(255, 0, 0);
    font-family: 'Kolker Brush', cursive;
    margin: 0;
}

p {
    font-size: 80px;
    color: rgb(255, 0, 0);
    font-family: 'Kolker Brush', cursive;
    text-align: center;
}

#fresh {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
#fresh:hover{
    cursor: pointer;
}

#slide {
    width: 100%;
    height: 20px;
    text-align: right;
}
